<div class="row mb-2 mr-0 custom-border">
  <div class="col-md-2 custom-border-right p-1 text-center">
    <img src="assets/images.png" width="100px" height="100px">
  </div>

  <!--details client-->
  <div class="col-md-4 custom-border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="mr-2"><i class="fas fa-info-circle grey-color"></i></div>
        <div>Nom du client</div>
      </div>
      <div class="row">
        <div class="mr-2"><i class="fas fa-info-circle grey-color"></i></div>
        <div>Prenom du client</div>
      </div>
      <div class="row">
        <div class="mr-2"><i class="fas fa-phone-alt grey-color"></i></div>
        <div>+216 93 875 123</div>
      </div>
    </div>
  </div>

  <!--details adresse-->
  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="mr-2"><i class="fas fa-home grey-color"></i></div>
        <div>adresse 1 adresse 2</div>
      </div>
      <div class="row">
        <div class="mr-2"><i class="fas fa-map-marked-alt grey-color"></i></div>
        <div>5710 chebba</div>
      </div>
      <div class="row">
        <div class="mr-2"><i class="fas fa-globe-africa grey-color"></i></div>
        <div>mahdia</div>
      </div>
    </div>
  </div>

  <!--boutton action-->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link ">
          <i class="fas fa-pencil-alt"></i>&nbsp;Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link ">
          <i class="fas fa-trash"></i>&nbsp;Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link ">
          <i class="far fa-list-alt"></i>&nbsp;Details
        </button>
      </div>
    </div>
  </div>
</div>
