<div class="row mb-2 mr-0 custom-border">
  <!--details entretien-->
  <div class="col-md-3 custom-border-right mb-1 mt-1 ml-3">
      <div class="row">
        <div>12.04.2021</div>
      </div>


  </div>

  <!--details modele-->
  <div class="col-md-3 custom-border-right mb-1 mt-1 ml-3">
    <div class="row text-center">
      <div>Type : complet</div>
    </div>
  </div>

  <!--boutton action-->
  <div class="col-md-3 mb-1 mt-1 ml-3">
    <div class="row text-center">
      <div>175.000</div>
    </div>
  </div>
</div>
