<div class="row mb-2 mr-0 custom-border">
  <div class="col-md-2 custom-border-right p-1 text-center">
    <img src="assets/contrat.jpg" width="100px" height="100px">
  </div>

  <!--details contrat-->
  <div class="col-md-4 custom-border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="mr-2"><i class="fas fa-info-circle grey-color"></i></div>
        <div>Numero de contrat</div>
      </div>
      <div class="row">
        <div class="mr-2"><i class="fas fa-info-circle grey-color"></i></div>
        <div>Mode de payement</div>
      </div>
      <div class="row">
        <div class="mr-2"><i class="fas fa-info-circle grey-color"></i></div>
        <div>TVA</div>
      </div>
    </div>
  </div>
  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="mr-2"><i class="fas fa-info-circle grey-color"></i></div>
        <div>A COMPTE</div>
      </div>
      <div class="row">
        <div class="mr-2"><i class="fas fa-info-circle grey-color"></i></div>
        <div>Prix HT</div>
      </div>
      <div class="row">
        <div class="mr-2"><i class="fas fa-info-circle grey-color"></i></div>
        <div>Reste</div>
      </div>
    </div>
  </div>

  <!--boutton action-->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link ">
          <i class="fas fa-pencil-alt"></i>&nbsp;Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link ">
          <i class="fas fa-trash"></i>&nbsp;Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link ">
          <i class="far fa-list-alt"></i>&nbsp;Details
        </button>
      </div>
    </div>
  </div>
</div>
