<div class="col mb-3 ">
  <div class="col-md-12 mb-3 ">
      <img src="assets/voiture.jpg" class="rounded-circle" width="200px" height="200px" />
  </div>
<hr>
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2><i class="fas fa-info-circle blue-color"></i>&nbsp;Information de la voiture</h2>
    </div>
    <div>
      <form>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nom">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Numero d'immatriculation" >
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Date d'achats">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="kilométrage">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="nombres de places">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="numero de chassis">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Couleur" >
          </div>
          <div class="col">
            <select class="form-select">
              <option selected>choisir le modele</option>
              <option value="1">modele One</option>
              <option value="2"> modele Two</option>
              <option value="3"> modele Three</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12 text-right">
    <button class="btn btn-danger mr-3" (click)="onCancel()">
      <i class="fas fa-ban"></i>&nbsp;Annuler
    </button>
    <button class="btn btn-primary">
      <i class="fas fa-save"></i>&nbsp;Enregistrer
    </button>
  </div>
</div>
