<div class="col mb-3 ">
  <div class="col-md-12 mb-3 ">
    <img src="assets/images.png" class="rounded-circle" width="200px" height="200px" />
  </div>
  <hr>
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2><i class="fas fa-info-circle blue-color"></i>&nbsp;Information du conducteur </h2>
    </div>
    <div>
      <form>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Num CIN">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder=" Numero de permis" >
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nom du conducteur">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Date de permis">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Prenom du conducteur">
          </div>
          <div class="col">
            &nbsp;
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12 text-right">
    <button class="btn btn-danger mr-3"(click)="cancelClick()">
      <i class="fas fa-ban"></i>&nbsp;Annuler
    </button>
    <button class="btn btn-primary" >
      <i class="fas fa-save"></i>&nbsp;Enregistrer
    </button>
  </div>
</div>

