<div class="row mb-2 mr-0 custom-border">
  <div class="col-md-2 custom-border-right p-1 text-center">
      <img src="assets/car.jpeg" width="100px" height="100px">
  </div>

  <!--details voiture-->
  <div class="col-md-4 custom-border-right mb-1 mt-1">
      <div class="col">
        <div class="row">
          <div class="mr-2"><i class="fas fa-signature grey-color"></i></div>
          <div>Nom de la voiture</div>
        </div>
        <div class="row">
          <div class="mr-2"><i class="fas fa-fill-drip grey-color"></i></div>
          <div>Couleur</div>
        </div>
        <div class="row">
          <div class="mr-2"><i class="fas fa-info-circle grey-color"></i></div>
          <div>Nombre de place</div>
        </div>
        <div class="row">
          <div class="mr-2"><i class="fas fa-info-circle grey-color"></i></div>
          <div>numéro d'immatriculation</div>
        </div>
      </div>
  </div>

  <!--details modele-->
  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-2">
        <i class="fas fa-flag-checkered grey-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12"> Marque </div>
          <div class="col-md-12"> Carburant </div>
        </div>
      </div>
    </div>
  </div>

  <!--boutton action-->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link ">
          <i class="fas fa-pencil-alt"></i>&nbsp;Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link ">
          <i class="fas fa-trash"></i>&nbsp;Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link ">
          <i class="far fa-list-alt"></i>&nbsp;Details
        </button>
      </div>
    </div>
  </div>
</div>
