<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h2>Liste des clients</h2>
    </div>
    <div class="col-md-4 text-right">
      <app-button-action
      (clickEvent)="nouveauClient()"
      ></app-button-action>
    </div>
  </div>
  <div class="col m-0">
    <app-detail-client></app-detail-client>
    <app-detail-client></app-detail-client>
    <app-detail-client></app-detail-client>
  </div>
  <div class="row mb-2">
    <div class="col-md-11 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
