<div class="col mb-3 ">
  <div class="col-md-12 mb-3 ">
    <img src="assets/images.png" class="rounded-circle" width="200px" height="200px" />
  </div>
  <hr>
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2><i class="fas fa-info-circle blue-color"></i>&nbsp;Information de l'utilisateur </h2>
    </div>
    <div>
      <form>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nom">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="adresse 1 " >
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="prenom">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="adresse 2">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="email">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="ville">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="telephone" >
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="code postale" >
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            &nbsp;
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Pays" >
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12 text-right">
    <button class="btn btn-danger mr-3" (click)="onCancel()">
      <i class="fas fa-ban"></i>&nbsp;Annuler
    </button>
    <button class="btn btn-primary">
      <i class="fas fa-save"></i>&nbsp;Enregistrer
    </button>
  </div>
</div>

